.profile__avatar {
    width: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .profile__avatar {
        margin: 0 auto;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}